/* layout */
#wrapper {
  background: #1d1b1c url("../images/bg_body.jpg") top center no-repeat; }

#main {
  padding: 20px 0; }

#header {
  padding: 0 0 10px 0; }

#content {
  float: left;
  width: 580px;
  padding: 15px 19px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 30px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* IE10+ */
  background: linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* W3C */ }

#sidebar {
  float: left; }

#grid {
  margin-left: -20px;
  *zoom: 1; }

#footer {
  background: url("../images/bg_footerRepeat.png") top center repeat-x;
  color: #000; }
  #footer > div {
    background: url("../images/bg_footer.jpg") top center no-repeat;
    height: 277px; }
    #footer > div > div {
      padding: 15px 0 0 0;
      font-size: 10px;
      line-height: 1.5em; }
  #footer a {
    color: black; }
    #footer a:hover {
      color: black; }
