/* @group modules */
/* header mods */
.social {
  text-align: right;
  margin: 13px 0;
  font-size: 14px;
  color: #ff8a00;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7); }
  #footer .social {
    float: right;
    color: black;
    text-shadow: none;
    margin: 0; }
  .social p {
    line-height: 2em;
    vertical-align: top;
    margin: 0; }

/* bottom mods */
.pagination {
  margin: 0;
  text-align: center; }
  .pagination ul {
    padding: 0;
    list-style: none; }
    .pagination ul li {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      padding: 0 8px; }
      .pagination ul li:first-child {
        padding-left: 0; }
      .pagination ul li a {
        color: #ff8a00; }
