/* @group modules */
/* header mods */
.moduletable.scroll-menu {
  margin: 1em 0; }
  .moduletable.scroll-menu .item {
    background: url("../images/bg_day.png") top center repeat-x;
    float: left;
    width: 115px;
    text-align: center;
    height: 86px;
    padding-top: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.15); }
    .moduletable.scroll-menu .item.first {
      border-left: none; }
    .moduletable.scroll-menu .item:hover * {
      text-decoration: none; }
    .moduletable.scroll-menu .item.featured {
      position: relative;
      top: -7px;
      width: 177px;
      height: 103px;
      padding-top: 12px;
      background: url("../images/bg_featured.png") top center no-repeat;
      border-left: none; }
      .moduletable.scroll-menu .item.featured .day {
        color: #fff;
        z-index: 2;
        position: relative; }
      .moduletable.scroll-menu .item.featured .date {
        position: absolute;
        top: 28px;
        left: 40px;
        font-size: 84px;
        font-weight: bold;
        color: #ffb540;
        text-shadow: none;
        z-index: 1; }
      .moduletable.scroll-menu .item.featured .ups {
        color: #fff;
        font-weight: normal;
        text-shadow: -1px -1px 1px black;
        margin-top: 49px;
        z-index: 2;
        position: relative; }
      .moduletable.scroll-menu .item.featured .logo-featured {
        background: url("../images/logo-featured.png") center center no-repeat;
        width: 151px;
        height: 29px;
        position: absolute;
        top: 35px;
        left: 17px;
        z-index: 2; }
    .moduletable.scroll-menu .item a {
      display: block; }
      .moduletable.scroll-menu .item a .day {
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        color: #e57900; }
      .moduletable.scroll-menu .item a .date {
        font-size: 58px;
        line-height: 50px;
        color: #e57900;
        text-shadow: -1px -1px 1px rgba(103, 48, 0, 0.75); }
      .moduletable.scroll-menu .item a .ups {
        font-size: 14px;
        font-weight: bold;
        color: #000; }
  .moduletable.scroll-menu .prev,
  .moduletable.scroll-menu .next {
    float: left;
    width: 32px;
    height: 91px; }
  .moduletable.scroll-menu .prev {
    background: url("../images/bg_prev.png") top center no-repeat; }
  .moduletable.scroll-menu .next {
    background: url("../images/bg_next.png") top center no-repeat; }

.moduletable.social {
  text-align: right;
  margin: 13px 0;
  font-size: 14px;
  color: #e57900;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7); }
  #footer .moduletable.social {
    float: right;
    color: black;
    text-shadow: none;
    margin: 0; }
  .moduletable.social p {
    line-height: 2em;
    vertical-align: top;
    margin: 0; }

.moduletable.logo {
  float: left;
  margin-left: 0; }

/* masthead mods */
#masthead .moduletable {
  margin-left: 0; }

.moduletable.pageTitle {
  margin-left: 0; }
  .moduletable.pageTitle > div {
    background: url("../images/bg_pageTitle.png") top center no-repeat;
    line-height: 41px;
    padding: 0 15px;
    text-transform: uppercase;
    color: #fff; }
    .moduletable.pageTitle > div img {
      padding: 7px 10px 0 0; }

/* grid mods */
.moduletable.grid > div {
  min-height: 125px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 13px 19px 30px;
  margin-bottom: 3em;
  font-size: 14px;
  color: #4c4c4c;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* IE10+ */
  background: linear-gradient(bottom, #d8d8d8 0%, white 48%);
  /* W3C */ }
.moduletable.grid h3 {
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 2px; }
.moduletable.grid h4 {
  margin: 0 0 .5em 0; }
.moduletable.grid .logo {
  overflow: visible;
  float: left;
  padding: 0 13px 10px 0; }

/* bottom mods */
.pagination {
  margin: 0;
  text-align: center;
  margin: 0 0 2em 0; }
  .pagination ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .pagination ul li {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      padding: 0 8px; }
      .pagination ul li:first-child {
        padding-left: 0; }
      .pagination ul li a {
        font-size: 14px;
        color: #e57900; }
