/* @group modules */
/* header mods */
.social {
  text-align: right;
  margin: 13px 0;
  font-size: 14px;
  color: #ff8a00;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7); }
  .social p {
    line-height: 2em;
    vertical-align: top;
    margin: 0; }
