.com_wut-ups {

}

.com_wut-ups > div {
	
}

.module.grid {
	
	> div {
		min-height: 125px;
		background-color: #fff;
		border-radius: 5px;
		border: $border;	
		padding: 13px 19px 30px;
		margin-bottom: 3em;
		font-size: 14px;
		color: #4c4c4c;
		position: relative;
		
		@include mainGradient;
	}

	
	h3 {
		@include underline;
	}
	
	h4 {
		margin: 0 0 .5em 0;
	}
	
	.logo {
		overflow: visible;
		float: left;
		padding: 0 13px 10px 0;
	}

}