@import "banners";

/* @group modules */
.moduletable {}

/* header mods */

.module.social {
	text-align: right;
	margin: 13px 0;
	font-size: 14px;
	color: black;
	height: 23px;
	line-height: 23px;

	#footer & {
		float: right;
		margin: 0;
	}

	img { vertical-align: bottom; }
}

.module.logo {
	float: left;
	margin-left: 0;
}

/* masthead mods */

#masthead .module {
	margin-left: 0;
} // TODO REMOVE THIS

.module.pageTitle {
	margin-left: 0;

	> div {
		background: url('../images/bg_pageTitle.png') top center no-repeat;
		line-height: 41px;
		padding: 0 15px;

		text-transform: uppercase;
		color: #fff;
	}

	> div > div > div > div {
		background: left 45% no-repeat;
		padding: 0 0 0 40px;
	}
}


/* bottom mods */

.pagination {
	margin: 0;
	text-align: center;
	margin: 0;

	ul.pages {
		float: none;
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;
			*display: inline;
			*zoom: 1;

			padding: 0 8px;

			a, span {
				font-size: 14px;
				color: $orange;
			}
		}
	}
}