@import "_variables";
@import "_mixins";

/* menus */

/* @group hmenu */
.moduletable_hmenu {
	
	ul {
		margin: 0;
		padding: 0;
		
		li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			position: relative;

			padding: 0 5px;
			
			a,
			span {
				display: block;
			}
		}
	}
}

.moduletable_hmenu.primary {
	float: right;
	font-size: 12px;
	font-weight: bold;
	margin: 60px 0 0 0;
	
	ul {
		text-align: right;
		
		li {
			text-align: center;
			vertical-align: top;
			padding: 0;
			width: 135px;
			height: 78px;
			position:relative;
			
			
			a {
				color: #000;
				overflow: visible;
				&:hover {
					color: #000;
					text-decoration: none;
				}
				
				span {
					padding: 10px 0;
					margin: 0 0 10px 0;
				}
				
				img {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}

.moduletable_hmenu.category {
	font-size: 14px;
	text-transform: uppercase;
	margin: 0;
	
	ul {
		background: url('../images/bg_categoryMenu.png') top center no-repeat;
		
		
		li {
			padding: 0 0 10px 0;
			&:hover {
				background: url('../images/rollover_mainMenu.png') 85% 39px no-repeat;
			}
			&:first-child a {
				background: none;
			}
			
			a {
				background: url('../images/divider_mainMenu.png') left center no-repeat;
				padding: 0 17px 0 20px;
				line-height: 38px;
				color: #fff;
				
				img {
					position: relative;
					top: 5px;
				}
				
				span {
					display: inline-block;
					*display: inline;
					*zoom: 1;
					padding: 0 0 0 10px;
					vertical-align: middle;
				}
			}
		}
	}
}

.moduletable_hmenu.secondary {
	font-size: 11px;
	font-weight: lighter;
	margin: 0;
	text-align: center;
	
	ul {
		
		li {
			padding: 0 15px;
			border-left: 1px solid #656565;
			&:first-child {
				border-left: none;
				padding-left: 0;
			}
			
			a {
				color: #fff;
				line-height: 1em;
				&:hover {
					color: $orange;
					text-decoration: none;
				}
			}
		}
	}
}



