@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

/* header mods */

.module.social {
	text-align: right;
	margin: 13px 0;
	font-size: 14px;
	color: black;
	#footer & {
		float: right;
		margin: 0;
	}
	
	p {
		line-height: 2em;
		vertical-align: top;
		margin: 0;
	}
}

.module.logo {
	float: left;
	margin-left: 0;
}

/* masthead mods */

#masthead .module {
	margin-left: 0;
} // TODO REMOVE THIS

.module.pageTitle {
	margin-left: 0;
	
	> div {
		background: url('../images/bg_pageTitle.png') top center no-repeat;
		line-height: 41px;
		padding: 0 15px;
		
		text-transform: uppercase;
		color: #fff;
	}
	
	> div > div > div > div {
		background: left center no-repeat;
		padding: 0 0 0 40px;
	}
}

/* grid mods */

.module.grid {
	
	> div {
		min-height: 125px;
		background-color: #fff;
		border-radius: 5px;
		border: $border;	
		padding: 13px 19px 30px;
		margin-bottom: 3em;
		font-size: 14px;
		color: #4c4c4c;
		position: relative;
		
		@include mainGradient;
	}

	
	h3 {
		@include underline;
	}
	
	h4 {
		margin: 0 0 .5em 0;
	}
	
	.logo {
		overflow: visible;
		float: left;
		padding: 0 13px 10px 0;
	}

}

/* bottom mods */

.pagination {
	margin: 0;
	text-align: center;
	margin: 0 0 2em 0;
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			
			padding: 0 8px;
						
			a {	
				font-size: 14px;
				color: $orange;
			}
		}
	}
}