@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

	
	h3 {
		border-bottom: 2px solid #e8e8e8;
		padding-bottom: 2px;
	}
	
	h4 {
		margin: 0 0 .5em 0;
	}
	
	.logo {
		overflow: visible;
		float: left;
		padding: 0 13px 10px 0;
	}
	
	.description {
		
	}
	
	button {
		background: url('../images/button.png') center center no-repeat;
		border: none;
		width: 120px;
		height: 41px;
		padding: 0 15px;
		
		color: #fff;
		text-shadow: -1px -1px 0 rgba(#7e3900, .7);
		text-transform: uppercase;
		line-height: 41px;
		text-align: left;
		
		position: absolute;
		bottom: -20px;
		left: 90px;
	}

}





/* header mods */

.social {
	text-align: right;
	margin: 13px 0;
	font-size: 14px;
	color: $orange;
	text-shadow: 1px 1px 0 rgba(black, .7);
	#footer & {
		float: right;
		color: black;
		text-shadow: none;
		margin: 0;
	}
	
	p {
		line-height: 2em;
		vertical-align: top;
		margin: 0;
	}
	
}


/* bottom mods */

.pagination {
	margin: 0;
	text-align: center;
	margin: 0 0 2em 0;
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			
			padding: 0 8px;
			
			&:first-child {
				padding-left: 0;
			}
			
			a {	
				font-size: 14px;
				color: $orange;
			}
		}
	}
}