@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

/* header mods */

.moduletable.social {
	text-align: right;
	margin: 13px 0;
	font-size: 14px;
	color: $orange;
	text-shadow: 1px 1px 0 rgba(black, .7);
	#footer & {
		float: right;
		color: black;
		text-shadow: none;
		margin: 0;
	}
	
	p {
		line-height: 2em;
		vertical-align: top;
		margin: 0;
	}
	
}

/* masthead mods */

#masthead .moduletable {margin-left: 0;} // TODO REMOVE THIS

.moduletable.pageTitle {
	margin-left: 0;
	
	> div {
		background: url('../images/bg_pageTitle.png') top center no-repeat;
		line-height: 41px;
		padding: 0 15px;
		
		text-transform: uppercase;
		color: #fff;
		

		img {
			padding: 7px 10px 0 0;
		}
	}
}

/* grid mods */

.moduletable.grid {
	
	> div {
		min-height: 125px;
		background-color: #fff;
		border-radius: 5px;
		border: $border;	
		padding: 13px 19px 30px;
		margin-bottom: 3em;
		font-size: 14px;
		color: #4c4c4c;
		position: relative;
		
		@include mainGradient;
	}

	
	h3 {
		@include underline;
	}
	
	h4 {
		margin: 0 0 .5em 0;
	}
	
	.logo {
		overflow: visible;
		float: left;
		padding: 0 13px 10px 0;
	}
	
	.description {
		
	}
	
	button {
		background: url('../images/button.png') center center no-repeat;
		border: none;
		width: 120px;
		height: 41px;
		padding: 0 17px;
		
		color: #fff;
		text-shadow: -1px -1px 0 rgba(#7e3900, .7);
		text-transform: uppercase;
		line-height: 41px;
		text-align: left;
		
		position: absolute;
		bottom: -20px;
		left: 90px;
		
		img {
			position: absolute;
			top: 16px;
			right: 20px;
		}
	}

}

/* bottom mods */

.pagination {
	margin: 0;
	text-align: center;
	margin: 0 0 2em 0;
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			
			padding: 0 8px;
			
			&:first-child {
				padding-left: 0;
			}
			
			a {	
				font-size: 14px;
				color: $orange;
			}
		}
	}
}