/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection{ background: $orange; color:#fff; text-shadow: none; }
::selection { background: $orange; color:#fff; text-shadow: none; }

button,
input[type="submit"],
.button {
	background: url('../images/button.png') center center no-repeat;
	border: none;
	width: 86px;
	height: 41px;
	line-height: 41px;
	padding: 0 17px;
	cursor: pointer;
	
	color: #fff;
	text-shadow: -1px -1px 0 rgba(#7e3900, .7);
	text-transform: uppercase;
	
	img {
		position: absolute;
		top: 16px;
		right: 20px;
	}
}

input[type="submit"] {
}